<div class="edit-subject-modal">

  <!-- Modal content -->
  <div class="modal-content">
     
    <a href="/"><span  class="close close-edit-subject">&times;</span></a>
    <form action="#" class="edit-post-form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="edit-post-title" value="{{subject.title}}">
        <label class="mdl-textfield__label" >Edit Subject...</label>
      </div>
       <button class="mdl-button mdl-js-button mdl-button--raised">
     Save
    </button>
    <button id="delete-subject" class="mdl-button mdl-js-button mdl-button--raised">
      Delete Subject
    </button>
    </form>
   
  </div>

</div>
<script src="/javascript/edit-subject.js"></script>