 <div id="edit-resource-modal" class="edit-resource-modal">

      <!-- Modal content -->
      <div class="modal-content">
         
        <span id="close-edit-resource" class="close">&times;</span>
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="">
            <label class="mdl-textfield__label" >Edit URL...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="">
            <label class="mdl-textfield__label" >Edit Title...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="4" id=""></textarea>
            <label class="mdl-textfield__label" >Edit Notes...</label>
          </div>
        </form>
        <button class="mdl-button mdl-js-button mdl-button--raised">
         Save
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised">
          Delete Resource
        </button>
      </div>
    
    </div>