@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "./login-splash";
@import "./modal";
@import "./subject-card";

@mixin flexCenter ($direction,$background){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}
$primaryColor:rgb(138, 187, 150) ;
$secondaryColor:rgba(46, 86, 62, 0.404) ;
$btnColor: #066fa0b6 ;

body{
    height: 100%;
    @include flexCenter(column,$secondaryColor );
    font-family: "Poppins", sans-serif;
}
.home{
    align-items: flex-start;
    height: 100%;
    width:100%;
   
}
 
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
     background-color: $primaryColor;
     height: 30vh;
     border-top-right-radius: 30vh;
     border-top-left-radius: 4vh;
     
 }
 .heading{
     color: white;
     text-shadow:2px 2px $secondaryColor;
 }
 .field{
     height:100vh;
     display: flex;
     background-color: white;
     flex-wrap: wrap;
    //  justify-content: flex-start;

 }
  
 .buttons-container{
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     width: 47vh;
 }
 .mdl-button{
     background-color: $btnColor;
 }

